<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>Adonis Diff App</title>
</head>
<style>
div.mytable {
  margin: auto;
  width: 1020px;
  padding: 10px; 
}
</style>
 
 
 
 
<div class="mytable">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/adonismxpvxpdiff">Refresh</a></li>
    <li class="breadcrumb-item active" aria-current="page">Adonis Diff Report</li>
  </ol>
</nav>
</div>
 
   <table class="table table-striped table-primary">
    
    <thead class="ttop">
        <tr class="table-info">
            <td width="20px"><b>ADONIS_PIN</b></td>
            <td><b>VXP_PIN</b> </td>
            <td><b>MXP_PIN</b> </td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="adonisRec, iStat : ${resultDiff}" th:style="${iStat.odd}? 'font-weight: normal;'">
             
            <!-- <td width="20px" th:text="${adonisRec.adonis_PIN}"> -->
            <td width="20px" th:text="${adonisRec.adonis_PIN == 0} ? 'N.A' : ${adonisRec.adonis_PIN}">/h2>
            </td><td th:text="${adonisRec.vxp_PIN}">
            </td><td th:text="${adonisRec.mxp_PIN}">
       </td></tr>
     </tbody>
    </table>
    
</head>

</html>